@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  /* background: hsl(0, 0%, 8%); */
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}

.container {
  width: 320px;
  max-width: 90%;
  margin: 7rem auto;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 1rem;
  background-color: hsl(0, 0%, 12%);
}

img {
  width: 80px;
  border-radius: 50%;
  margin: 2rem 0 1rem 0;
}

h2 {
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  margin: 1rem 0 0.6rem 0;
  font-weight: 600;
}

.container p:first-of-type {
  font-size: 0.79rem;
  font-weight: 550;
  color: hsl(75, 94%, 57%);
  margin-bottom: 1.7rem;
}

.proffesion {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

ul {
  width: 90%;
  margin: 0 auto;
}

ul li {
  margin: 1rem;
  padding: 0.7rem 0.95rem;
  list-style: none;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 8px;
  background-color: hsl(0, 0%, 20%);
}

ul li a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

ul li:hover a,
ul li:active a {
  color: hsl(0, 0%, 20%);
}

ul li:hover,
ul li:active {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
}

.attribution {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  color: white;
  margin-top: -5rem;
  margin-bottom: 7rem;
}

.attribution a {
  color: hsl(75, 94%, 57%);
  font-style: italic;
  text-decoration: none;
}

/* Tablet Styles */

/* Desktop Styles */
/* @media (min-width: 1440px) {
  .container {
    margin-top: 10rem;
  }

  ul {
    width: 85%;
  }

  .attribution {
    font-size: 12px;
  }
} */
