@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}

.container {
  width: 88%;
  max-width: 375px;
  margin: 8.5rem auto;
  text-align: center;
  border-radius: 12px;
  padding-bottom: 1rem;
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 12%);
}

img {
  border-radius: 50%;
  width: 90px;
  margin: 2rem 0 1rem 0;
}

h2 {
  letter-spacing: 1;
  margin: 1rem 0 0.6rem 0;
  font-weight: 600;
}

.container p:first-of-type {
  font-size: 0.87rem;
  font-weight: 550;
  color: hsl(75, 94%, 57%);
  margin-bottom: 1.8rem;
}

.second-p {
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 1.8rem;
}

ul {
  width: 95%;
  margin: 0 auto;
}

ul li {
  margin: 1rem;
  padding: 0.8rem;
  list-style: none;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 20%);
}

ul li a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

ul li:hover a,
ul li:active a {
  color: hsl(0, 0%, 20%);
}

ul li:hover,
ul li:active {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
}

/* ul li a:active,
ul li a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
  cursor: pointer;
} */

.attribution {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  text-align: center;
  color: white;
  margin-top: -7.5rem;
  margin-bottom: 7rem;
}

.attribution a {
  color: hsl(75, 94%, 57%);
  font-style: italic;
  text-decoration: none;
}

/* Desktop Styles */

@media (min-width: 1440px) {
  .container {
    margin-top: 20rem;
  }

  ul {
    width: 90%;
  }

  .attribution {
    font-size: 12px;
  }
}
